* {
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    padding: 1em;
}

.page-title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: x-large;
    font-weight: 600;
}

.container {
    display: flex;
    border-top-right-radius: 25px;
}

.image-box {
    border-top-right-radius: 25px;
    margin: 15px;
    background-color: white;
    border: 0px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image-text {
    font-size: 0.7em;
    background-color: #fcfcfc;
}

.img-thumb {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.icon {
    height: 1em;
    size: 10%;
}

.detail-box {
    position: absolute;
    top: 300px;
    z-index: 14;
    width: 100%;
    height: 100%;
    background-color: azure;
}

.exit {
    position: absolute;
    right: 5px;
    cursor: pointer;
    transform: translate(-150% -300%);
    font-weight: 500;
    color: darkgrey;
}

.center {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-x {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
}

.image-text {
    padding: 4px 7px 4px 7px;
    font-size: 1em;
    border-bottom-right-radius: 25px;
}

.grayed-out {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 25%;
    height: 100%;
    width: 100%;
}

.mobox {
    overflow-y: hidden;
    /* padding: 20px; */
    position: sticky;
    margin-top: 0.5em;
    /* top: 50%; */
    left: 50%;
    transform: translatex(-50%);
    border-radius: 5px;
    z-index: 5;
    background-color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.3em;
    /* box-shadow: 0 0 0 99px rgba(0, 0, 0, 0.5); */
}
.mobox {
    position: fixed;
    display: block;
    top: 3%;
    left: 50%;
    width: 80vw;
    height: 100%;
    overflow-y: scroll;
    /* margin: -300px 0 0 0; */
    /* height: 200px;
    width: 500px; */
}

.mobox img {
    /* width: 60vh; */
    width: 100vw;
}
.detail-container {
    margin: 20px;
}
.detail-title {
    margin: 5px 5px 0px 0px;
    font-weight: 700;
    font-size: larger;
    text-transform: capitalize;
}

.detail-description {
    font-weight: 300;
    font-size: large;
}

.detail-user {
    font-weight: 300;
    font-size: small;
}

.detail-comments {
    margin-top: 20px;
    position: relative;
    padding: 5px;

    width: 100%;
    font-size: 0.6em;
}
.user-comment {
}

.img-comment {
    border-radius: 20px;
    background-color: #fcfcfc;
    color: black;
    border: 0px solid black;
    padding: 5px 10px 5px 10px;
    margin: 0.2rem;
}

.comment-input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: lightgray;
    color: black;
}
.comment-input :focus {
    border-color: darkgray;
    color: black;
}

.more-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more {
    cursor: pointer;
    font-weight: 500;
    background-color: lightgray;
    /* border: 1px solid black; */
    padding: 5px 15px 5px 15px;
    margin: 5px 7px 10px 7px;
}

/* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */ ;
